{% extends 'shared/base.html' %}

{% block content %}

{% include 'shared/navbar-vet.html' %}
<h1>Registrar mascota</h1>
<form method="POST" action="{% url 'mascota' %}">
    {% csrf_token %}
    {{ form.nombre.label_tag }}
    {{ form.nombre }}
    <br>
    
    {{ form.cedula_dueño.label_tag }}
    {{ form.cedula_dueño }}
    <br>
    
    {{ form.edad.label_tag }}
    {{ form.edad }}
    <br>
    
    {{ form.especie.label_tag }}
    {{ form.especie }}
    <br>

    {{ form.raza.label_tag }}
    {{ form.raza }}
    <br>

    {{ form.caracteristicas.label_tag }}
    {{ form.caracteristicas }}
    <br>

    {{ form.peso.label_tag }}
    {{ form.peso }}
    <br>
    <button>
        Save
    </button>
</form>
<a href="{% url 'logout' %}" class="logout-button">Cerrar sesión</a>

{% endblock %}