{% extends 'shared/base.html' %}

{% block content %}
<h1>Editar HC</h1>
<br />
{% if disableBuscarUsuario == False %}
<form method="POST" action="{% url 'editar-historia' %}">
    {% csrf_token %}
    {{ form.cedula_dueño.label_tag }} 
    {{ form.cedula_dueño }}
    <br />
    <button>buscar</button>
</form>
{% endif %}

{% if hasDueño == False %}
<a href="{% url 'editar-historia' %}"> no se encontro dueño de mascota con la cedula ingresada</a>
{% endif %}

{% if hasDueño == True and mascotas is None %}
<div>
    <h1>el usuario no tiene mascotas registradas</h1>
    <a href="{% url 'mascota' %}"> Agregar Mascota</a>
</div>
{% endif %}

{% if hasDueño == True and mascotas is not None %}

{% for mascota in mascotas %}

<div>
    <h1>Seleccione la mascota para ver sus historias clinicas</h1>
    <a href="{% url 'listar-historia' mascota.id %}">
        <h1>{{mascota.nombre}}</h1>
    </a>
</div>

{% endfor %}

{% endif %}

{% endblock %}