{% extends 'shared/base.html' %}


{% block content %}

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Tienda de Medicamentos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Tienda de Medicamentos</h1>
        <form action="/vender-con-orden" method="POST">
            <h2>Vender Medicamentos con Orden</h2>
            <button type="submit" class="btn btn-primary">Vender con Orden</button>
        </form>
        <form action="/ventaSinOrden" method="POST"> 
            <h2>Vender Medicamentos sin Orden</h2>
            <button type="submit" class="btn btn-primary">Vender sin Orden</button>
        </form>
        <form action="/salir" method="POST">
            <button type="submit" class="btn btn-danger">Salir</button>
        </form>
    </div>
</body>
</html>

{% endblock %}