{% extends 'shared/base.html' %}


{% block content %}

{% load static %}

<h1>Formulario de venta de medicamentos</h1>

<form action="{% url 'ventaSinOrden' %}" method="post" id="formulario">
    {% csrf_token %}
    <div class="form-group">
        <label for="Cedula">Cédula del cliente:</label required>
        <input type="text" class="form-control" id="Cedula" placeholder="Ingrese su cédula" name="cedula" required>
    </div>

    <div class="form-group">
        <label for="medicamento">Seleccione el medicamento:</label>
    </div>

    <div class="form-group">
        <label for="medicamento"></label>
        <div>
            <input type="checkbox" id="medicamento1" name="medicamentos[]" value="Desparasitante para perro: $10.99"
                data-precio="10.99">
            <label for="medicamento1">Desparasitante para perro: $10.99</label><br>

            <input type="checkbox" id="medicamento2" name="medicamentos[]" value="Desparasitante para gato: $8.50"
                data-precio="8.50">
            <label for="medicamento2">Desparasitante para gato: $8.50</label><br>

            <input type="checkbox" id="medicamento3" name="medicamentos[]" value="Prevención de pulgas: $5.99"
                data-precio="5.99">
            <label for="medicamento3">Prevención de pulgas: $5.99</label><br>

            <input type="checkbox" id="medicamento" name="medicamentos[]" value="Analgésico: $3.99" data-precio="3.99">
            <label for="medicamento4">Analgésico: $3.99</label><br>

            <input type="checkbox" id="medicamento5" name="medicamentos[]" value="Aspirina: $1.99" data-precio="1.99">
            <label for="medicamento5">Aspirina: $1.99</label><br>

            <input type="checkbox" id="medicamento6" name="medicamentos[]" value="Acetaminofen: $2.99"
                data-precio="2.99">
            <label for="medicamento6">Acetaminofen: $2.99</label><br>

            <input type="checkbox" id="medicamento7" name="medicamentos[]" value="Suero: $15.99" data-precio="15.99">
            <label for="medicamento7">Suero: $15.99</label><br>

            <input type="checkbox" id="medicamento8" name="medicamentos[]" value="Amoxicilina: $7.99"
                data-precio="7.99">
            <label for="medicamento8">Amoxicilina: $7.99</label><br>

            <input type="checkbox" id="medicamento9" name="medicamentos[]" value="Gotas para ojos: $6.99"
                data-precio="6.99">
            <label for="medicamento9">Gotas para ojos: $6.99</label><br>

        </div>
    </div>

    <br>

    <label for="cantidad">Cantidad:</label>
    <input type="number" class="form-control" id="cantidad" name="cantidad"
        placeholder="Cantidad de medicamentos" readonly>

    <br>

    <label for="valor">Valor total:</label>
    <input type="text" class="form-control" id="valor" placeholder="0.00" name="valor" readonly>

    <br>

    <input type="text" class="form-control" id="medicamentos" name="medicamentos" hidden>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

<script>
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    const valorInput = document.getElementById('valor');
    const cantidadInput = document.getElementById('cantidad');
    const formulario = document.getElementById('formulario');

    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            let total = 0.00;
            let cant = 0;
            let seleccionados = [];

            checkboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    const precio = parseFloat(checkbox.getAttribute('data-precio'));
                    total += precio;
                    cant++;
                    seleccionados.push(checkbox.value);
                }
            });

            valorInput.value = total.toFixed(2);
            cantidadInput.value = cant;
            formulario.medicamentos.value = seleccionados.join(', ');
            medicamentosInput.value = seleccionados;
        });
    });
    console.lo(seleccionados[0].value)
</script>

{% endblock %}