{% extends 'shared/base.html' %}


{% block content %}

{% load static %}



<a href="{% url 'register' %}" class="register-button">✚ Usuario</a>
<a href="{% url 'admin' %}" class="register-button">♻ Actualizar</a>
{{error}}
<div class="table-container">
  <table>
    <tr>
      <th>Usuario</th>
      <th>Rol</th>
      <th>Acciones</th>
    </tr>
    {% for user in users  %}
    
    <tr>
      <td>{{user.nombreUsuario}}</td>
      <td>{{ user.rol_id}}</td>
      <td class="acciones">
        <a href="#">
       <form action="{% url 'delete' user.id %}" method="post">
        {% csrf_token %}
        <input type="text" id="doc" name="doc" value="{{user.id}}" hidden >
        {% if user.nombreUsuario == 'admin'%}
        <h4>Este usuario no se puede eliminar</h4>
        {%else%}
        <button type="submit">eliminar</button>
       </form>
       {% endif %}
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>

  <a href="{% url 'logout' %}" class="logout-button">Cerrar sesión</a>
  
</div>
<br/>
<br/>




{% endblock %}