{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
   <!-- bootstrap css -->
   <link rel="stylesheet" href="{% static 'style/bootstrap.min.css' %}">
   <!-- style css -->
   <link rel="stylesheet" href="{% static 'style/style.css' %}">
   <!-- Responsive-->
   <link rel="stylesheet" href="{% static 'style/responsive.css' %}">
   <!-- fevicon -->
   <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="{% static 'style/jquery.mCustomScrollbar.min.css' %}">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="{% static 'https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' %}">
   <!-- owl stylesheets -->
   <link rel="stylesheet" href="{% static 'style/owl.carousel.min.css' %}">
   <link rel="stylesheet" href="{% static 'style/owl.theme.default.min.css' %}">
   <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css' %}" media="screen">
</head>
<body>
  <!-- header section start -->
  <div class="header_section">
     

    <main class="container">
      {% block content %}
      {% endblock %}
    </main>


    <div class="footer_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-sm-6">
               <div class="footer_logo"><a href="index.html"><img src="{% static 'images/footer-logo.png' %}"></a></div>
               <h1 class="adderss_text">Contactanos</h1>
               <div class="map_icon"><img src="{% static 'images/map-icon.png' %}" ><span class="paddlin_left_0">Calle 101 # 90 - 10</span></div>
               <div class="map_icon"><img src="{% static 'images/call-icon.png' %}"><span class="paddlin_left_0">+57  300 789 71 81</span></div>
               <div class="map_icon"><img src="{% static 'images/mail-icon.png' %}"><span class="paddlin_left_0">veterinaria@nurgo.com.co</span></div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="adderss_text">Doctores</h1>
               <div class="hiphop_text_1">Contamos con los mejores veterinarios para los cuidados de tu mascota</div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="adderss_text">Ubicados</h1>
               <div class="Useful_text">Estamos ubicados en las principales ciudades de Colombia.</div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="adderss_text">Información</h1>
               <input type="text" class="Enter_text" placeholder="Ingrese su Email" name="Enter your Emil">
               <div class="subscribe_bt"><a href="#">Suscribete</a></div>
               <div class="social_icon">
                  <ul>
                     <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
                     <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
                     <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
                     <li><a href="#"><img src="{% static 'images/instagram-icon.png' %}"></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/plugin.js' %}"></script>
    <!-- sidebar {% static '-->
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %} "></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- javascri{% static 'pt -->
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js' %}"></script>
 </body>
</html>
